
<ng-container>
    <div class="m-3">
        <div class="row p-3">
    <mat-toolbar color="primary">
        <mat-icon>menu</mat-icon>
        <span>Primary Navbar</span>
    </mat-toolbar>
</div>
<div class="row p-3">
    <mat-toolbar color="accent">
        <mat-icon>menu</mat-icon>
        <span>Accent Navbar</span>
    </mat-toolbar>
</div>
<div class="row p-3">
    <mat-toolbar color="warn">
        <mat-icon>menu</mat-icon>
        <span>Warn Navbar</span>
    </mat-toolbar>
</div>
    </div>

</ng-container>